body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #6204c01f !important;
}
:root {
  --primary-color: #6204c0;
  --primary-color-transparent: #6204c070;
  --font-size: 16px;
}
.native-card {
  background-color: #fff;
  border-radius: 40px;
  display: flex
;
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
  width: calc(100% - 40px);
  margin: 20px;
}
.signup-div {
  display: flex
;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.native-card.signupformnative {
  max-width: 600px;
  width: 90%;
}
.signup-form {
  display: flex
;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 20px;
}
.signup-form-logo img {
  width: 100%;
}
.signup-form-logo {
  width: 80px;
  height: 80px;
  display: flex
;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-block: 20px;
}
.native-input-div {
  display: flex
;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.native-input-tag {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 40px;
  overflow: hidden;
  outline: 0px solid;
  display: grid
;
}
.native-text-tag {
  height: max-content;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  outline: 0px solid;
  display: grid
;
}
.native-text-tag textarea {
  border: none;
  outline: none;
  box-shadow: unset;
}
.native-input-tag:focus-within {
  border-color: #6826ab;
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--primary-color-transparent);
}
.native-text-tag:focus-within {
  border-color: #6826ab;
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--primary-color-transparent);
}
.native-input-tag input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-inline: 20px;
}
.native-input-div label {
  margin-inline: 20px;
  margin-bottom: 10px;
}
.native-submit-div {
  display: flex
;
  justify-content: center;
  margin-block: 20px;
  align-items: center;
}
.native-submit-div-button {
  height: 40px;
  padding-inline: 20px;
  border: 0;
  color: #fff;
  border-radius: 40px;
  background: #6204c0;
}
.native-submit-div-button:hover {
  background: #430283;
}
.main-app-wrap {
  display: flex
;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  flex-direction: row;
}
.main-app-menu {
  width: 240px;
}
.main-app-wrap-board {
  width: calc(100% - 240px);
  display: flex
;
  overflow: auto;
  height: 100vh;
}
.main-menu-items-holder {
  display: flex
;
  flex-direction: column;
  overflow: hidden;
  height: max-content;
  width: calc(100% - 40px);
  margin: 20px;
}
.main-app-menu-logo {
  height: 60px;
  display: flex
;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-block: 40px;
}
.main-app-menu-logo img {
  height: 100%;
  margin: auto;
}
nav.native-card.main-menu-nav {
  min-height: calc(100vh - 40px);
}
a.main-menu-item {
  display: flex
;
  height: 40px;
  margin-block: 20px;
  width: 100%;
  outline: none;
  text-decoration: none;
  border-radius: 40px;
  align-items: center;
  color: var(--primary-color);
}
a.main-menu-item.active {
  background: var(--primary-color);
  color: #fff !important;
}
span.main-menu-item-icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex
;
}
span.main-menu-item-name {
  display: flex
;
  width: calc(100% - 40px);
  align-items: center;
}
a.main-menu-item:hover {
  background: #6204c02b;
  transition: 1s easein;
}
a.main-menu-item.active:hover {
  background: var(--primary-color);
}
.main-content-div {
  display: flex
;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 100px;
  width: calc(100% - 40px);
}
.main-content-header {
  display: flex
;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
button.main-content-header-button-el {
  height: 60px;
  margin-right: 80px;
}
.native-button {
  background: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
  outline: 0;
  border-radius: 40px;
  padding-inline: 20px;
  display: flex
;
  justify-content: center;
  align-items: center;
}
button.native-button:hover {
  background: #3d0179;
}
.two-col-holder {
  display: flex
;
  width: 100%;
}
.two-col-i-big {
  width: 60%;
}
.two-col-i-small {
  width: 40%;
}
.dash-board-current-balance.native-card {
  margin: 0;
}
.dash-board-current-balance.native-card {
  margin: 0;
  flex-direction: column;
  width: 100%;
}
.dash-board-current-balance-inner-upper {
  width: calc(100% - 40px);
  margin: 20px;
  display: flex
;
  flex-direction: column;
}
.dash-board-current-balance-inner-upper h5 {
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 20px;
}
.dash-board-current-balance-inner-upper h1 {
  line-height: 1;
  font-weight: 500;
  font-size: 3rem;
  color: var(--primary-color);
}
.dash-board-current-balance-inner-down {
  display: flex
;
  width: calc(100% - 40px);
  margin-block: 20px;
  justify-content: space-around;
  margin-bottom: 40px;
}
.dash-board-current-ex-in {
  display: flex
;
  flex-direction: column;
}
.dash-board-current-ex-in span {
  display: flex
;
}
.blue-icon {
  color: var(--primary-color);
}
.red-icon {
  color: red;
}
.top-account-hl-cont {
  width: calc(100% - 40px);
  margin: 20px;
  display: flex
;
  flex-direction: column;
}
.transaction-table-show.native-card {
  margin: 0;
  width: 100%;
  flex-direction: column;
}
table.transaction-table-dash {
  margin: 20px;
  width: 100%;
}
table.transaction-table-dash tbody {
  width: 100%;
}
table.transaction-table-dash tr {
  width: 100%;
}
table.transaction-table-dash td {
  background: #eee;
  border-radius: 5px;
}
span.tt-cont {
  display: grid
;
  justify-content: center;
  align-content: center;
  font-size: 0.8rem;
}
.transaction-table-show.native-card h6 {
  margin-block: 10px;
  line-height: 1;
  text-align: center;
}
table.transaction-table-dash {
  margin: 20px;
  width: calc(100% - 40px);
  aspect-ratio: 2;
}
.dash-board-recent-transactions.native-card {
  margin-inline: 0;
  flex-direction: column;
  width: 100%;
}
.dash-board-recent-transactions.native-card h4 {
  width: 100%;
  text-align: center;
}
.dash-board-recent-transactions-hl {
  display: flex
;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}
.dash-board-recent-transactions-item {
  display: flex
;
  min-height: 80px;
  align-items: center;
}
.dash-board-recent-transactions-item-icon {
  width: 80px;
  height: 80px;
  display: flex
;
  justify-content: center;
  align-items: center;
}
.dash-board-recent-transactions-item-icon span {
  display: grid
;
  justify-content: center;
  align-content: center;
  background: #ff00006e;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: red;
}
.dash-board-recent-transactions-item-desc {
  display: flex
;
  flex-direction: column;
  width: calc(100% - 90px);
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.dash-board-recent-transactions-item-desc-title {
  display: flex
;
  justify-content: space-between;
}

span.primary-color-el {
  color: var(--primary-color);
}
.main-accounts-item {
  width: calc(100% / 3);
  display: inline-flex
;
}
@media (max-width: 1200px) {
  .main-accounts-item {
    width: calc(100% / 2);
  }
}
@media (max-width: 990px) {
  .main-accounts-item {
    width: calc(100% );
  }
}
.main-accounts-item-upper {
  display: flex
;
  flex-direction: row;
  width: calc(100% - 40px);
  margin: 20px;
}
.main-accounts-item-upper-icon {
  height: 80px;
  width: 80px;
  display: grid
;
  justify-content: center;
  align-items: center;
}
.main-accounts-item-upper-icon span {
  width: 60px;
  height: 60px;
  display: grid
;
  justify-content: center;
  align-content: center;
  color: var(--primary-color);
  background: #6204c061;
  border-radius: 50%;
}
.main-accounts-item-upper-detail {
  width: calc(100% - 80px);
  display: flex
;
  flex-direction: column;
}
span.main-accounts-item-upper-detail-decs {
  color: #7a7878;
}
.main-accounts-item-cont.native-card {
  flex-direction: column;
}
.main-accounts-item-lower {
  display: flex
;
  flex-direction: row;
  width: calc(100% - 40px);
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
}
.main-accounts-item-lower-left {
  display: flex
;
  flex-direction: column;
}
.main-accounts-item-lower-left span {
  font-size: 0.8rem;
  font-weight: 100;
}
span.main-accounts-item-lower-balance {
  font-size: 1.4rem !important;
  color: var(--primary-color);
  font-weight: 400 !important;
}
.main-accounts-item-lower-right {
  position: relative;
}
.main-accounts-item-lower-right-actions {
  position: absolute;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 2px 0px #ccc;
  border-radius: 20px 0px 20px 20px;
  display: flex
;
  flex-direction: column;
  overflow: hidden;
}
.main-accounts-item-lower-right-actions span {
  height: 40px;
  display: flex
;
  aspect-ratio: 3;
  align-items: center;
  padding-left: 20px;
}
span.main-account-action-buttons:hover {
  background: #6204c061;
  color: var(--primary-color);
}
.main-category-item {
  width: calc(100% / 2);
  display: inline-flex
;
}
@media (max-width: 1200px) {
  .main-category-item {
    width: calc(100% );
  }
}
.main-category-item-header {
  display: flex
;
  width: calc(100% - 40px);
  margin: 20px;
}
.main-category-item-cont.native-card {
  border-radius: 20px;
}
.main-category-item-cont-icon span {
  background: #6204c07a;
  color: var(--primary-color);
  border-radius: 50%;
  display: grid
;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-content: center;
}
.main-category-item-cont-icon {
  width: 60px;
  height: 60px;
  display: grid
;
}
.main-category-item-cont-details {
  width: calc(100% - 80px);
  margin-left: 20px;
  display: flex
;
  justify-content: space-between;
}
.main-category-item-cont-details-d {
  display: flex
;
  flex-direction: column;
  width: calc(100% - 40px);
}
span.main-category-item-cont-details-list {
  display: flex
;
  width: calc(100% - 20px);
  justify-content: space-between;
  font-size: 0.8rem;
  color: #4c4949;
}
.main-category-item-cont-details-dropper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid
;
  justify-content: center;
  align-content: center;
}
.main-budget-holder {
  width: 100%;
}
.main-budget-item {
  width: calc(100% / 2);
}
@media (max-width: 1200px) {
  .main-budget-item {
    width: calc(100% );
  }
}
.main-budget-item {
  display: inline-flex
;
}
.main-budget-item-cont.native-card {
  flex-direction: column;
}
.main-budget-item-cont-header {
  display: flex
;
  width: calc(100% - 40px);
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
span.main-budget-item-cont-header-cat {
  display: flex
;
  background: var(--primary-color-transparent);
  color: var(--primary-color);
  height: 40px;
  border-radius: 20px;
  padding-inline: 20px;
  align-items: center;
}
.main-budget-item-cont.native-card {
  flex-direction: column;
  border-radius: 20px;
}
.main-budget-item-cont-footer {
  margin-bottom: 20px;
  margin-inline: 20px;
  display: flex
;
  flex-direction: column;
}
.modal-body {
  margin: 20px;
  padding: 0;
}
.section-preloader {
  min-height: 50vh;
  display: grid
;
  justify-content: center;
  align-content: center;
}
.section-preloader-message {
  display: flex
;
  flex-direction: column;
  justify-content: center;
}
span.main-budget-item-cont-percentage {
  display: flex
;
  width: 100%;
  height: 10px;
  background: var(--primary-color-transparent);
}
span.main-budget-item-cont-percentage-load {
  display: flex
;
  height: 100%;
  background: var(--primary-color);
}
span.main-budget-item-cont-header-drop-down {
  width: 40px;
  height: 40px;
  display: flex
;
}
span.main-budget-item-cont-header-details-cF {
  display: flex
;
}
span.main-budget-item-cont-percent-value {
  display: flex
;
  justify-content: space-between;
  font-weight: 200;
  margin-top: 10px;
}
span.main-budget-item-cont-header-details-name-period {
  display: flex
;
  flex-direction: column;
}
span.main-budget-item-cont-header-period {
  font-weight: 300;
  font-size: 0.8rem;
}
.transactions-table-wrapper.native-card {
  overflow: hidden;
  min-height: 60vh;
}
.transactions-table-wrapper-hl {
  display: block;
  width: calc(100% - 40px);
  margin: 20px;
  overflow: auto;
}
.transactions-table-wrapper-hl tr {
  height: 60px;
}
span.transaction-table-icon {
  display: flex
;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.blueish-iconer {
  background: var(--primary-color-transparent);
  color: var(--primary-color);
}
.reddish-iconer {
  background: #ff00007a;
  color: red;
}
.two-col-i-big {
  width: 100%;
  max-width: 850px;
  margin-top: 20px;
}